body{
	background-color:#f7fcfc;
	background-image: url(img/bgimg.png);
	background-repeat: repeat;
	background-size: 150px;
	font: verdana;
	font-family:sans-serif;
	color: #083649;
}

#bg{
	align-content: center;
	background-color: #bad1ce;
	box-shadow: 0 0 5px 5px rgba(08,36,49, 0.3);
	border: solid;
	border-color: #f7fcfc;
	border-width: 5px;
	display: block;
	float:inherit;
	margin:auto;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	width: 80%;
}

.profile{
	display: block;
	margin: auto;
	padding-bottom: 40px;
	width: 80%;
}

.profilepic{
	padding-top: 30px;
}


.profilepic img{
	border-radius: 100%;
	padding: 0;
	box-shadow: 0px 0px 5px 5px rgba(08,36,49, 0.2);
	display:block;
	max-width: 60%;
	margin: auto;
	overflow: hidden;
	width: 100%;
}


header{
	padding-top: 10px;
	padding-bottom: 60px;
}

#navagation{
	display: inline-block;
	list-style-type: none;
}
.nav{
	list-style-type: none;
	display: inline-block;
	padding:0;
	margin: 0;
}

.nav > li {
	display: inline-block;
	padding: 80px 50px 0 50px;
	font-size: 18px;
	font-size-adjust: auto;
}

.nav > li >a {
	text-decoration: none;
	color: #f7fcfc;
}

li{
	display: block;
	text-align: center;
}

.content{
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.about{
	margin: auto;
	padding-bottom: 60px;
	padding-top: 20px;
	width: 80%;
}

.aboutdiv{
	margin:auto;
	padding-left: 5px;
	padding-right: 5px;
}

.work{
	margin:auto;
	width: 80%;
	padding-top: 20px;
	padding-bottom: 80px;
}

.work img{
	padding-left: 2px;
	padding-right: 2px;
	width: 60%;
	max-width: 20%;
}

textarea#styled{
	height: 100px;
	width: 400px;
	border: 2px solid #768756;
}

h3 {
	color: #f7fcfc;
	padding-top: 20px;
	padding-bottom: 5px;
}


.contact{
	margin: auto;
	width: 80%;
	padding-top: 10px;
	padding-bottom: 60px;
}